// RoomSelection.scss




.room-selection {

    padding: 20px;
    font-family: "Quicksand", sans-serif;

    .search-bar {
        margin-bottom: 20px;
        width: 100%;
        max-width: 800px;
        margin-top: 0.76em;
    }

    .search-bar input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #000000;
        font-size: 16px;
        background-color: #ffffff;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #707070;
        color: white;

        .back-button {
            background: none;
            border: none;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

        .room-header {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .username-section {
            font-size: 1rem;

            .username {
                color: #fff;
                font-size: 1rem;
            }
        }
    }

    .room-list {
        margin: 20px 0;


        .room-card {
            position: relative;
            background-color: #f8c29d;
            display: flex;
            justify-content: space-between;
            padding: 35px;
            border-radius: 12px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            &:hover {
                background-color: #d1aaaa;
                transition: background-color 0.3s ease-in-out;
            }




            .room-image {
                position: absolute;
                width: 200px;
                height: 154px;
                object-fit: cover;
                border-radius: 8px;

            }

            .room-details {
                font-family: "Quicksand", sans-serif;
                flex: 1;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #ebd2c1;


                .room-title {
                    font-size: 1.3rem;
                    font-weight: bolder;
                }

                .room-description {
                    font-size: 0.9rem;
                }

                .room-price,
                .room-rating {
                    font-size: 0.9rem;
                    font-weight: bold;
                }
            }
        }


        .head-greet {
            text-align: center;


        }

        .span {
            color: #961a1a;
        }
    }

    .room-card.selected {
        border: 2px solid #961a1a; // Highlight the selected room with a border
        transition: background-color 1.3s ease-in-out;
    }

    button {
        background-color: #333;
        color: white;
        padding: 0.75rem 2rem;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1rem;
        align-items: center;

        &:hover {
            background-color: #bebbbb;
        }
    }

    .home-button,
    .back-button,
    .continue-button {
        flex-grow: 1;
        margin: 0 0.5rem;
    }
}

.button-footer {
    background-color: #333; // Dark background for the buttons
    color: #fff; // White text
    border: none;
    padding: 10px 20px;
    border-radius: 30px; // Rounded corners to match the button style
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;


    .home-button,
    .back-button,
    .continue-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        align-items: center;
        text-align: center;
    }

    .continue-button[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}